<html>
<head>
	<link href="/css/application.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
</head>

<body>

	<h1>Welcome to Bookmaker</h1>
Current links:
<ul>
	<% @links.each do |link| %>
		<li><a href="<%=link.url %>"><%= link.title %></a></li>
	<% end %>
<ul>

<div id="new-link">
	<form action="/links" method="post">
		Url: <input type="text" name="url">
		Title: <input type="text" name="title">
		Tags: <input type="text" name="tags">
		<input type="submit" value="Add link">
	</form>
</div>
</body>
</html>




