<h1>Welcome to Bookmaker</h1>
Current links:
<ul>
	<% @links.each do |link| %>
		<li><a href="<%=link.url %>"><%= link.title %></a></li>
	<% end %>
<ul>

<div id="new-link">
	<form action="/links" method="post">
		Url: <input type="text" name="url">
		Title: <input type="text" name="title">
		Tags: <input type="text" name="tags">
		<input type="submit" value="Add link" >
	</form>
	<form action="/users" method="post">
		Email: <input name="email" type="text">
		Password: <input name="password" type="password">
		<input type="submit" value="Sign up">
	</form>
</div>




